@import '../app/variables.module.scss';

.home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 50px 20px;

    &__promo {
        padding: 10px;
    }

    &__block-title {
        padding: 10px 0;
        font-size: 20px;

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 15px;

    }

    &__item {
        all: unset;
    }

    &__card-big {
        height: 200px;
        border-radius: 12px;
        box-shadow: 10px 10px 10px #1f1f1e;
        margin-bottom: 15px;
        overflow: hidden;

        &_img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    &__card {
        position: relative;
        width: 300px;
        height: 150px;
        border-radius: 12px;
        box-shadow: 10px 10px 10px #1f1f1e;
        overflow: hidden;
        cursor: pointer;


        &_img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        &_title {
            position: relative;
            z-index: 10;
            margin: 10px;
            color: $COLOR-TEXT-CARD;
            font-size: 20px;
            font-weight: 900;
        }

        &_timeWork {
            position: relative;
            z-index: 10;
            margin: 10px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 500;
            color: $COLOR-TEXT-CARD;
        }

        &_addres {
            position: relative;
            z-index: 10;
            margin: 10px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 500;
            color: $COLOR-TEXT-CARD;
        }

        &_quality {
            position: relative;
            z-index: 10;
            margin: 10px;
            margin-top: 20px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 900;
            color: $COLOR-TEXT-CARD;
        }

    }

    &__map {
        max-height: 500px;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 20px 20px 20px #1f1f1e;
    }

    &__mapPaddig {
        width: 20px;
    }

}