@import '../../app/variables.module.scss';

.header {
    padding: 50px 20px;
    // background-color: #22dff8;
    color: $COLOR-TEXT;
    font-size: 20px;

    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(34, 223, 248, 1) 50%, rgba(0, 212, 255, 1) 100%);

    &__nav {
        margin-top: 50px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        font-size: 24px;
        font-weight: 300;
    }

    &__link {
        transition: .5s;

        &:hover {
            color: gray;
            transition: .5s;
        }
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        transition: 1s;
    }

    &__dropdown-container {
        visibility: hidden;
        max-height: 0px;
        opacity: 0;
        transition: 1s;
    }

    &__dropdown-container-active {
        visibility: visible;
        max-height: 200px;
        opacity: 1;
        transition: 1s;
    }
}