.header {

    padding: 50px 20px;
    background-color: rgb(134, 75, 139);
    color: rgb(196, 204, 211);
    font-size: 20px;

    &__nav {
        margin-top: 50px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        font-size: 24px;
        font-weight: 900;
    }

    &__link {
        transition: .5s;

        &:hover {
            color: gray;
            transition: .5s;
        }
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        transition: 1s;
    }

    &__dropdown-container {
        visibility: hidden;
        max-height: 0px;
        opacity: 0;
        transition: 1s;
    }

    &__dropdown-container-active {
        visibility: visible;
        max-height: 200px;
        opacity: 1;
        transition: 1s;
    }
}